/* GENERAL STYLES */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*--------------HEADER--------------*/
header {
    height: 100px; 
    background: radial-gradient(circle, #171010, #666063 97%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5%;
}

.search-container {
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.search-container input {
    padding: 15px 40px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 15px 0 0 15px ;
    background-color: #413b3c;   
    color: #ffffff;
}


.search-container input:focus {
    background-color: #645b5d;
    transform: scale(1.01);
    
}

.search-button {
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-left: none;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    background-color: #413b3c;
}

.account-cart {
    display: flex;
    align-items: center;
}

.account-cart a {
    display: flex;
    align-items: center;
    margin-left: 15px;
    text-decoration: none;
    color: #ffffff;
}

/*--------------SUBHEADER--------------*/
.subheader {
    background-color: #686565;
    height: 60px; 
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding-left: 20px; /* Align with logo margin */
    box-sizing: border-box;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    position: relative;
    margin-right: 20px;
}

/*Categorias*/
.nav-item a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    display: block;
}

.nav-item:hover .submenu {
    display: block;
}

/* Menu desplegable*/
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    color: #000000;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.submenu li a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: #000000;
}

.submenu li a.active {
   text-decoration: underline;
   color: #474747;
}

.submenu li a:hover {
    background-color: #fcfcfc;
}




/*--------------FOOTER--------------*/


footer {
    height: 100px; 
    background: radial-gradient(circle, #171010, #666063 99%);
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer-info p {
    margin: 0;
}

.footer-social a, .footer-payment img {
    margin: 0 10px;
}



.footer-bottom {

    padding: 10px 0;
}

.site-map {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.site-map li {
    display: inline;
    margin: 0 10px;
}

.site-map a {
    text-decoration: none;
    color: #ffffff;
}

.site-map a.disabled {
    color: #777777; /* Gray color for disabled links */
    pointer-events: none;
}





/*--Responsive Small Devices phones 48px--*/
@media (max-width: 480px) {
    header {
        height: 70px;
        padding: 5px;
    }

    header img {
        width: 25px;
        height: 25px;
    }

    header img.logo {
        width: 50px;
        height: 50px;
        padding-left: 30%;
    }

    header a {
        font-size: 0.7em;
    }

    .search-container {
        width: 50%;
        margin-left: 10px;
    }

    .search-container input {
        width: calc(100% - 50px);
        padding: 10px 20px;
        font-size: 0.9em;
    }

    .search-button {
        padding: 4px 10px;
    }

    .account-cart {
        margin-top: 10px;
        justify-content: right;
    }

    .subheader {
        height: 40px; 
    }

    .nav-menu {
        font-size: 0.7em;
    }

    .nav-item a {
        padding: 8px 3px;
    }

    .submenu li a {
        padding: 4px 5px;
        font-size: 0.9em;
    }

    footer {
        height: 100px;
        font-size: 0.8em;
    }

    footer img {
        width: 25px;
        height: 25px;
    }
    .footer-info p {
        font-size: 0.8em;
    }

    .site-map {
        font-size: 0.9em;
    }

    .site-map li {
        margin: 0 3px;
    }
}


/*--Shopping cart styles.css--*/

/*--------------SHOPPING CART--------------*/

/* Estilos generales */

.containerCart {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


main {
    padding: 20px 0;
}

.breadcrumb {
    margin-bottom: 20px;
    font-size: 14px;
}

.breadcrumb a {
    color: #007BFF;
    text-decoration: none;
}

.breadcrumb span {
    color: #555;
}

/* Estilos para el contenido principal del carrito */
.cart-content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.cart-items {
    flex: 1;
}

.cart-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.product-details {
    flex: 2;
    margin-left: 20px;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
}

.remove-item a {
    padding: 1rem;
    color: #007BFF;
    text-decoration: none;
}

.remove-item a:hover {
    text-decoration: underline;
}

/* Estilos para el resumen del pedido */
.order-summary {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    flex-shrink: 0;
}

.order-summary h3 {
    margin-bottom: 15px;
    color: #003c8f;
}

.summary-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.summary-total {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.checkout-btn {
    background-color:#36382E;
    color: white;
    width: 100%;
    padding: 15px;
    border: #36382E;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.checkout-btn:hover {
    background-color: #DADAD9;
    color: black;
}

/* Estilos Responsive */
@media (max-width: 768px) {
    .cart-content {
        flex-direction: column;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .order-summary {
        margin-top: 20px;
    }

    .cart-item img {
        width: 80%;
        height: 80%;
        /* object-fit: cover; */
    }
}

@media (max-width: 480px) {

    .cart-item img {
        width: 60%;
        height: 60%;
    }

    .cart-content {
        flex-direction: column;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .order-summary {
        margin-top: 20px;
    }
}


/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/*--------------PLP--------------*/

/* Contenedor de productos y filtros */
.product-list-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.Main-PLP {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Filtros */
.filter-box {
    width: 100%;
    max-width: 200px;
    margin-right: 20px;
}

.filter-category {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

/* Listado de productos */
.product-list {
    flex: 1;
}

.results-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.product-item-1 {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
    flex-wrap: wrap; /* Para asegurar que los elementos se alineen bien en móviles */
}

.product-item-1 img {
    width: 35%;
    height: auto;
    margin-right: 20px;
}

.info-producto-1 {
    flex: 1;
}

.product-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.product-link img {
    transition: transform 0.3s ease;
}

.product-link:hover img {
    transform: scale(1.1);
}

.add-to-cart {
    background-color: #36382E;
    color: white;
    width: 100%;
    padding: 15px;
    border: #36382E;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

#stars-for-products {
    width: 4%;
}

/* Otros estilos */
.product-item h4 {
    margin: 0 0 10px 0;
}

.product-item .rating {
    margin: 0 0 10px 0;
}

.product-item p {
    margin: 0 0 10px 0;
}

.normal-price {
    text-decoration: line-through;
    margin-right: 5px;
    color: #888;
}

.discounted-price {
    color: #d9534f;
    font-weight: bold;
}