/* GENERAL STYLES */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*--------------HEADER--------------*/
header {
    height: 100px; 
    background: radial-gradient(circle, #171010, #666063 97%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img.logo {
    padding-left: 20%;
}

.search-container {
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.search-container input {
    padding: 15px 40px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 15px 0 0 15px ;
    background-color: #413b3c;   
    color: #ffffff;
}


.search-container input:focus {
    background-color: #645b5d;
    transform: scale(1.01);
}

.search-button {
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-left: none;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    background-color: #413b3c;
}

.account-cart {
    display: flex;
    align-items: center;
    padding-right: 2%;
}

.account-cart a {
    display: flex;
    align-items: center;
    margin-left: 15px;
    text-decoration: none;
    color: #ffffff;
}

/*--------------SUBHEADER--------------*/
.subheader {
    background-color: #737373;
    height: 60px; 
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding-left: 20px; /* Align with logo margin */
    box-sizing: border-box;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    position: relative;
    margin-right: 20px;
}

/*Categorias*/
.nav-item a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    display: block;
}

.nav-item:hover .submenu {
    display: block;
}

/* Menu desplegable*/
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    color: #000000;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.submenu li a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: #000000;
}

.submenu li a.active {
   text-decoration: underline;
   color: #474747;
}

.submenu li a:hover {
    background-color: #fcfcfc;
}




/*--------------FOOTER--------------*/
footer {
    height: 100px; 
    background: radial-gradient(circle, #171010, #666063 99%);
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer-info p {
    margin: 0;
}

.footer-social a, .footer-payment img {
    margin: 0 10px;
}

.footer-bottom {

    padding: 10px 0;
}

.site-map {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.site-map li {
    display: inline;
    margin: 0 10px;
}

.site-map a {
    text-decoration: none;
    color: #ffffff;
}

.site-map a.disabled {
    color: #777777; /* Gray color for disabled links */
    pointer-events: none;
}





/*--Responsive header and footer--*/
@media (max-width: 768px) {
    header {
        height: 70px;
        width: auto
    }

    header img {
        width: 25px;
        height: 25px;
    }

    header img.logo {
        width: 70px;
        height: 35px;
        padding-left: 25%;
    }

    header a {
        font-size: 0.7em;
    }

    .search-container {
        width: 50%;
        margin-right: 0%;;
    }

    .search-container input {
        width: 20%;
        padding: 10px 20px;
        font-size: 0.9em;
    }

    .search-button {
        padding: 4px 10px;
    }

    .account-cart {
        margin-top: 10px;
        margin-right: 4%;
    }

    .subheader {
        height: 40px; 
        width: 100%;
    }

    .nav-menu {
        font-size: 0.7em;
    }

    .nav-item a {
        padding: 8px 0px;
        
    }

    .submenu li a {
        padding: 8px 5px;
    }

    footer {
        height: 100px;
        font-size: 0.8em;
    }

    footer img {
        width: 25px;
        height: 25px;
    }
    .footer-info p {
        font-size: 0.8em;
    }

    .site-map {
        font-size: 0.9em;
    }

    .site-map li {
        margin: 0 3px;
    }
}

/*--Shopping cart styles.css--*/

/*--------------SHOPPING CART--------------*/

/* Estilos generales */

.containerCart {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


main {
    padding: 20px 0;
}

.breadcrumb {
    margin-bottom: 20px;
    font-size: 14px;
}

.breadcrumb a {
    color: #007BFF;
    text-decoration: none;
}

.breadcrumb span {
    color: #555;
}

/* Estilos para el contenido principal del carrito */
.cart-content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.cart-items {
    flex: 1;
}

.cart-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.product-details {
    flex: 2;
    margin-left: 20px;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
}

.remove-item a {
    padding: 1rem;
    color: #007BFF;
    text-decoration: none;
}

.remove-item a:hover {
    text-decoration: underline;
}

/* Estilos para el resumen del pedido */
.order-summary {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    flex-shrink: 0;
}

.order-summary h3 {
    margin-bottom: 15px;
    color: #003c8f;
}

.summary-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.summary-total {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.checkout-btn {
    background-color: #36382E;
    color: white;
    width: 100%;
    padding: 15px;
    border: #36382E;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.checkout-btn:hover {
    background-color: #DADAD9;
    color: black;
}

/* Estilos Responsive */
@media (max-width: 768px) {
    .cart-content {
        flex-direction: column;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .order-summary {
        margin-top: 20px;
    }

    .cart-item img {
        width: 80%;
        height: 80%;
        /* object-fit: cover; */
    }
}

@media (max-width: 480px) {

    .cart-item img {
        width: 60%;
        height: 60%;
    }

    .cart-content {
        flex-direction: column;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .order-summary {
        margin-top: 20px;
    }
}

/*--Main page  styles.css--*/

/*-------------------MAIN PAGE STYLES----------------------------*/

.content {
    padding: 20px;
}

.promo-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-left: calc(-20px);
    width: calc(100% + 40px);
}

.promo-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.featured-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.product-box {
    background-color: #f0efef;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.product-box:hover {
    transform: scale(1.05);
}

.product-box img {
    width: 50%;
    height: 50%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-box h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-box .original-price {
    text-decoration: line-through;
    color: #888;
}

.product-box .discount-price {
    color: #e60000;
    font-weight: bold;
}

.product-box .discount-price span {
    color: #333;
    font-size: 0.9em;
    margin-left: 5px;
}

.product-box button {
    background-color: #666063;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-box button:hover {
    background-color: #383637;

}

.banner {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: calc(-20px);
    width: calc(100% + 40px);
}

.banner img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/*---------------- MAIN  PAGE RESPONSIVE-------------*/

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .promo-img-1 {
        content: url('img/promo1-res.png');

    }
    .promo-img-2 {
        content: url('img/promo2-res.png');
    }
    .featured-products {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-box img {
        height: 150px;
    }

    .product-box h3 {
        font-size: 1em;
    }

    .product-box img {
        width: 100%;
        height: auto;
    }

    .product-box .original-price {
        font-size: 0.9em;
    }

    .product-box .discount-price {
        font-size: 1.2em;
    }

    .product-box button {
        font-size: 0.9em;
    }
    .banner{
        content: url('img/banner-res.png');
    }
}

/* --- PDP styles.css --- */

/*---------------- PDP STYLES -------------*/
/* Migaja de pan (breadcrumb) */
.breadcrumb {
    padding: 15px;
    background-color: #f1f1f1;
    margin: 0;
    font-size: 0.9em;
}

.breadcrumb a {
    color: #007bff;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

/* Nombre del producto */
.product-name {
    text-align: center;
    margin: 20px 0;
}



/* Contenedor principal */
.product-container {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    justify-content: center;
}


/* Contenedor de la galería */
.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea todo a la izquierda */
    max-width: 600px; /* Tamaño máximo del contenedor */
    margin: 20px; /* Espacio alrededor del contenedor */
   
}
.gallery-container input[type="radio"] {
    position: absolute;
    left: -9999px; /* Mueve los inputs fuera de la pantalla */
}

/* Imagen principal */
.main-image {
    position: relative;
    width: 100%; /* La imagen ocupa todo el ancho disponible del contenedor */
}

.main-img {
    width: 100%;
    height: auto;
    border: 2px solid #000; /* Borde negro */
    border-radius: 10px; /* Esquinas redondeadas */
    display: none;
}

#image1:checked ~ .main-image #img1,
#image2:checked ~ .main-image #img2,
#image3:checked ~ .main-image #img3 {
    display: block;
}

/* Contenedor de miniaturas */
.thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px; /* Espacio entre la imagen principal y las miniaturas */
    overflow-x: auto;
}

/* Miniaturas */
.thumbnail {
    width: 100px;
    height: auto;
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.thumbnail:hover {
    border-color: black;
}

.product-summary {
    margin-top: 20px;
    text-align: left;
    max-width: 600px;
   
    line-height: 1.6; /* Opcional: aumenta el espacio entre líneas para mejorar la legibilidad */ 
    max-width: 400px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    
}


/* Especificaciones técnicas */
.specifications {
    padding: 20px;
    background-color: #f9f9f9;
}

.specifications h2 {
    text-align: center;
    margin-bottom: 20px;
}

.specifications table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.specifications table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Productos relacionados */
.related-products {
    padding: 20px;
    background-color: #fff;
}

.related-products h2 {
    text-align: center;
    margin-bottom: 20px;
}

.products-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.related-product {
    text-align: center;
    max-width: 150px;
}

.related-product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/*styles de la product-box*/
.featured-products-pdp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.product-box-pdp {
    background-color: #f5f5f5;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.product-box-pdp:hover {
    transform: scale(1.05);
}

.product-box-pdp img {
    width: 50%;
    height: 50%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-box-pdp h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-box-pdp .original-price-pdp {
    text-decoration: line-through;
    color: #888;
}

.product-box-pdp .discount-price-pdp {
    color: #e60000;
    font-weight: bold;
}

/*---------------- PDP STYLES RESPONSIVE-------------*/

/* Responsiveness */
@media (max-width: 768px) {

     /* Nombre del producto */
     .product-name {
        text-align: center;
        margin: 40px 0;
        font-size: 3.5vw; /* Ajusta el tamaño del texto según el ancho de la pantalla */
        max-width: 100%; /* Asegura que no se desborde */
        word-wrap: break-word; /* Permite que las palabras se dividan si es necesario */
        hyphens: auto; /* Agrega guiones para dividir palabras largas */
    }
    
    .product-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra los elementos horizontalmente */
        justify-content: center; /* Centra los elementos verticalmente */
       
    }
    
    .product-summary {
        margin: 20px 0 0 0; /* Ajusta el margen para mantener el texto alineado correctamente */
        text-align: left; /* Centra el texto debajo de la imagen */
    }
    
    .specifications {
        padding: 20px;
        background-color: #f9f9f9;
    }
    
    .specifications h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .specifications table {
        width: 70%;
        margin: 0 auto;
        border-collapse: collapse;
    }
    
    .specifications table td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    

    .products-grid {
        justify-content: space-between;
    }

    .related-product {
        text-align: center;
        max-width: 150px;
        justify-content: center;
        
    }

    .featured-products-pdp {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        margin-left: 40px;
        justify-content: center;
        
        width: 80%;
    }

    .product-box-pdp {
        background-color: #f5f5f5;
        padding: 15px;
        text-align: center;
        border-radius: 8px;
        transition: transform 0.3s ease;
        width: 90%;
        justify-content: center;
    }

    .product-box-pdp img {
        height: 80px;
    }

    .product-box-pdp h3 {
        font-size: 1em;
    }

    .product-box-pdp img {
        width: 40%;
        height: auto;
    }

    .product-box-pdp .original-price-pdp {
        font-size: 0.9em;
    }

    .product-box-pdp .discount-price-pdp {
        font-size: 1.2em;
    }
    
}


/*---------------------------PLP------------------------------*/


.product-list-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.Main-PLP {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


.filter-box {
    width: 100%;
    max-width: 200px;
    margin-right: 20px;
}

.filter-category {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.product-list {
    flex: 1;
}

.results-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.product-item-1 {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.product-item-1 img {
    width: 35%;
    height: auto;
    margin-right: 20px;
}

.info-producto-1 {
    flex: 1;
}

.product-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.product-link img {
    transition: transform 0.3s ease;
}

.product-link:hover img {
    transform: scale(1.1);
}

.add-to-cart {
    background-color: #36382E;
    color: white;
    width: 100%;
    padding: 15px;
    border: #36382E;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

#stars-for-products {
    width: 4%;
}

.product-item h4 {
    margin: 0 0 10px 0;
}

.product-item .rating {
    margin: 0 0 10px 0;
}

.product-item p {
    margin: 0 0 10px 0;
}

.normal-price {
    text-decoration: line-through;
    margin-right: 5px;
    color: #888;
}

.discounted-price {
    color: #d9534f;
    font-weight: bold;
}

#add-cart-button {
    width: 10%;
    height: auto;
}

.ad-banner {
    display: flex;
    justify-content: center; 
    width: 100%; 
    margin: 0 auto;
}

.ad-banner img {
    width: 158.1%;
    height: auto; 
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 0;
}

.pagination a {
    color: #333;
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ddd;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.pagination a.active {
    background-color: #36382E;
    color: white;
    border: 1px solid #36382E;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* mobile plp */
@media (max-width: 768px) {
    .results-info {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
    }

    .results-info select {
        margin-top: 10px; 
        width: 100%; 
    }

    .product-link {
        flex-direction: column;
    }

    .product-link img {
        width: 100%;
        height: auto;
    }

    #stars-for-products {
        width: 7%;
    }

    .ad-banner img {
        max-width: 111%;
        height: auto;
    }
}

